NODE_ENV=development
PORT=3000
HOST=localhost
LOG_LEVEL=debug
ROUTE_UUID=00000000-0000-0000-0000-000000000000
CRON_PERIOD=5 seconds
CRON_DELAY=5 seconds
# Почты через запятую тех аккаунтов, откуда не надо скачивать видео.
ZOOM_SKIP_USERS_MAILS=jopa@lala.ru,lala@jopa.com
ZOOM_SKIP_MINIMAL_DURATION_MINUTES=5
ZOOM_SKIP_TOPIC_PLAYLIST_CONTAINS=
ZOOM_WEBHOOK_SECRET_TOKEN=jopa lala
GOOGLE_CLIENT_ID=jopa lala
GOOGLE_CLIENT_SECRET=jopa lala
GOOGLE_CHANNEL_ID=jopa lala
# Путь к каталогам с файлами. Текущий путь - на один уровень выше корня проекта
STORAGE_DIRPATH=..,..
DOMAIN=http://localhost:8080
SENTRY_DSN=https://b808c069112246e8a26676a49f4eba7d@o1090356.ingest.sentry.io/6753002