NODE_ENV=test
PORT=5005
HOST=localhost
LOG_LEVEL=silent
ROUTE_UUID=00000000-0000-0000-0000-000000000000
CRON_PERIOD=50 minutes
CRON_DELAY=50 minutes
ZOOM_SKIP_USERS_MAILS=jopa@lala.ru,lala@jopa.com
STORAGE_DIRPATH=..,..
DOMAIN=http://localhost:8080
ZOOM_WEBHOOK_SECRET_TOKEN=jopa lala
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
